*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color:#ecf0f3;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    outline: none;
}

.container{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.calculator{
    background-attachment: #ecf0f3;
    padding: 20px;
    border-radius: 25px;
    box-shadow: inset 5px 5px 12px #ffffff,
    5px 5px 12px rgba(0,0,0,.16);
    display: grid;
    grid-template-columns: repeat(4,60px);           
}

input{
    grid-column: span 4;
    width: auto;
    height: 60px;
    background-color: #ecf0f3;
    box-shadow: inset -5px -5px 12px #ffffff,
    inset 5px 5px 12px rgba(0,0,0,.16);
    border: none;
    border-radius: 30px;
    font-size: 35px;
    color: grey;
    text-align:end;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 15px;
}
button{
    width: 50px;
    height: 50px;
    background-color: #ecf0f3;
    border: none;
    box-shadow: inset -5px -5px 12px #ffffff,
    inset 5px 5px 12px rgba(0,0,0,.16);
    border-radius: 50px;
    margin: 8px;
    font-size: 20px;
}
.equal{
    width: 120px;
    border-radius: 50px;
    background-color: #ecf0f3;
}

h1{
    display: flex;
    font-size: 60px;
    color: rgb(71, 68, 68);
    justify-content: center;
    text-align:center;
}


